<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div class="col-4">
  <app-list-name
  >
  </app-list-name>
</div>
<div class="col-10 ml-auto mr-auto">
  <app-setting-tab></app-setting-tab>
</div>
<div>
  <h1 class="text-center">PIPE</h1>
  <app-pipes></app-pipes>
</div>
<div>
  <app-tool-category></app-tool-category>
</div>
<div>
  <app-list-hero></app-list-hero>
</div>
<div>
  <app-hight-light></app-hight-light>
</div>
1213123123