.bg-settingtab {
    background-color: darkslategrey;
    padding: 30px;
}
.text-green {
    color: green;
}
.textYellow{
    color: yellow;
}
.textWhite{
    color: wheat;
}
.textOrange {
    color: orange; 
}